In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as skl

In [2]:
dt = pd.read_csv("asuransi_mobil.csv")
dt.head(10)

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya
5,877557,antara 40-65 tahun,perempuan,antara 20-30 tahun,SMA,lebih dari 3x UMR,0.619127,ya,setelah 2020,belum menikah,ada,10238,13000.0,keluarga,3,0,3,tidak
6,930134,lebih dari 65 tahun,laki-laki,lebih dari 30 tahun,SMA,lebih dari 3x UMR,0.492944,tidak,setelah 2020,menikah,ada,10238,13000.0,keluarga,7,0,3,tidak
7,461006,antara 25-40 tahun,perempuan,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.468689,tidak,setelah 2020,belum menikah,ada,10238,14000.0,keluarga,0,0,0,ya
8,68366,antara 40-65 tahun,perempuan,antara 20-30 tahun,universitas,antara 1-2x UMR,0.521815,tidak,sebelum 2020,menikah,tidak ada,10238,13000.0,keluarga,0,0,0,tidak
9,445911,antara 40-65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.561531,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,ya

In [3]:
dt.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [4]:
dt.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [5]:
dt.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [6]:
dt.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [7]:
dt.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [8]:
dt.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [9]:
dt.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [10]:
dt.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [11]:
dt.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [12]:
dt.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [13]:
dt['UMUR'] = \
dt['UMUR'].map({'lebih dari 65 tahun':0, 'kurang dari 25 tahun':1, 'antara 25-40 tahun':2, 'antara 40-65 tahun':3})

In [14]:
dt['PENGHASILAN'] = \
dt['PENGHASILAN'].map({'lebih dari 3x UMR':0, 'kurang dari UMR':1, 'antara 1-2x UMR':2, 'antara 2-3x UMR':3})

In [15]:
dt['KLAIM'] = \
dt['KLAIM'].map({'tidak': 0, 'ya':1})

In [16]:
dt['PENGALAMAN_MENGEMUDI'] = \
dt['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':0, 'antara 10-20 tahun':1, 'antara 20-30 tahun':2, 'lebih dari 30 tahun':3})

In [17]:
dt['PENDIDIKAN'] = \
dt['PENDIDIKAN'].map({'SMA':1, 'tidak ada':0, 'universitas':2})

In [18]:
dt['JENIS_KENDARAAN'] = \
dt['JENIS_KENDARAAN'].map({'keluarga':1, 'sport':0})

In [19]:
dt.columns

Index(['IDENTITAS', 'UMUR', 'JENIS_KELAMIN', 'PENGALAMAN_MENGEMUDI',
       'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT', 'PEMILIK_KENDARAAN',
       'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS', 'KM_PER_TAHUN',
       'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [20]:
dt.head(20)

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,0,perempuan,0,1,0,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,1,0,0,0,0
1,750365,1,laki-laki,0,0,1,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,1,0,0,0,1
2,199901,1,perempuan,0,1,2,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,1,0,0,0,0
3,478866,1,laki-laki,0,2,2,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,1,0,0,0,0
4,731664,2,laki-laki,1,0,2,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,1,2,0,1,1
5,877557,3,perempuan,2,1,0,0.619127,ya,setelah 2020,belum menikah,ada,10238,13000.0,1,3,0,3,0
6,930134,0,laki-laki,3,1,0,0.492944,tidak,setelah 2020,menikah,ada,10238,13000.0,1,7,0,3,0
7,461006,2,perempuan,0,2,2,0.468689,tidak,setelah 2020,belum menikah,ada,10238,14000.0,1,0,0,0,1
8,68366,3,perempuan,2,2,2,0.521815,tidak,sebelum 2020,menikah,tidak ada,10238,13000.0,1,0,0,0,0
9,445911,3,perempuan,0,1,0,0.561531,ya,sebelum 2020,belum menikah,ada,32765,11000.0,1,0,0,0,1
10,275820,0,laki-laki,3,1,0,0.620361,ya,setelah 2020,menikah,ada,10238,10000.0,1,6,2,7,0
11,521399,0,perempuan,3,1,0,0.729831,ya,setelah 2020,menikah,tidak ada,32765,12000.0,1,4,0,0,0
12,429728,3,laki-laki,2,1,0,0.637045,ya,sebelum 2020,menikah,ada,10238,8000.0,1,4,1,2,0
13,569640,1,perempuan,0,2,0,0.591260,ya,sebelum 2020,belum menikah,ada,10238,NaN,1,0,0,0,0
14,980181,2,laki-laki,1,1,3,0.461568,ya,sebelum 2020,menikah,ada,10238,12000.0,1,0,2,1,0
15,906223,2,perempuan,0,1,0,0.762798,tidak,setelah 2020,menikah,tidak ada,10238,NaN,1,0,0,0,0
16,517747,0,laki-laki,3,2,0,0.796175,ya,sebelum 2020,menikah,ada,32765,NaN,1,10,2,1,0
17,24851,1,laki-laki,0,0,1,NaN,tidak,sebelum 2020,menikah,tidak ada,32765,12000.0,1,0,0,0,1
18,104086,2,perempuan,0,2,0,0.680594,ya,sebelum 2020,belum menikah,ada,32765,NaN,1,0,0,0,1
19,240658,1,perempuan,0,1,2,0.417714,ya,sebelum 2020,belum menikah,ada,10238,18000.0,1,0,0,0,1

In [23]:
dt_categorical = ['JENIS_KELAMIN']
dt_numerical = ['IDENTITAS', 'SKOR_KREDIT', 'KODE_POS', 'KM_PER_TAHUN', 'TILANG_NGEBUT', 'TILANG_MABUK', 'KECELAKAAN_SEBELUMNYA', 'PENGALAMAN_PENGEMUDI', 'PENDIDIKAN', 'PENGHASILAN']
dt_binary = ['TAHUN PRODUKSI', 'PEMILIK_KENDARAAN', 'STATUS', 'ANAK']
dt_target = ['KLAIM']

In [25]:
data_categorical = pd.get_dummies(dt)
data_categorical.head()

,IDENTITAS,UMUR,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,...,JENIS_KELAMIN_laki-laki,JENIS_KELAMIN_perempuan,PEMILIK_KENDARAAN_tidak,PEMILIK_KENDARAAN_ya,TAHUN_PRODUKSI_sebelum 2020,TAHUN_PRODUKSI_setelah 2020,STATUS_belum menikah,STATUS_menikah,ANAK_ada,ANAK_tidak ada
0,569520,0,0,1,0,0.629027,10238,12000.0,1,0,...,0,1,0,1,0,1,1,0,1,0
1,750365,1,0,0,1,0.357757,10238,16000.0,1,0,...,1,0,1,0,1,0,1,0,0,1
2,199901,1,0,1,2,0.493146,10238,11000.0,1,0,...,0,1,0,1,1,0,1,0,0,1
3,478866,1,0,2,2,0.206013,32765,11000.0,1,0,...,1,0,0,1,1,0,1,0,1,0
4,731664,2,1,0,2,0.388366,32765,12000.0,1,2,...,1,0,0,1,1,0,1,0,0,1